
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>US Covid data </title>
  </head>
  <body>
    <div class="container">

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">US Covid Cases and Deaths</h1>
              <p class="lead"> 
                Data From 
                <a href="https://github.com/nytimes/covid-19-data/">
                NY Times Historical Data
                </a>
              
              </p>
              <p>Last Updated {{ last_update }}
            </div>
          </div>

        {% for state_data in ALL_STATE_DATA%}
            <div class="row">
                <div class="col mt-5">
                    <table class="table table">
                    {% for key, value in state_data.items() %}
                        <tr>
                          
                        <td class="mx-3">{{key|upper}}</td>
                        <td class="mx-3">{{value}}</td>
                      
                        </tr>
                    {% endfor %}
                  </table>
                </div>
                <div class="col">
                    <img src='{{ state_data.state_name| replace(" ", "_") }}.png'>
                </div>
            </div>

        {% endfor %}

    </div>

</body>
</html>