
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">




    
    <title>US Covid data </title>
  </head>
  <body>
    <div class="container">

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">US Covid Cases and Deaths</h1>
              <p class="lead"> 
                Data From 
                <a href="https://github.com/nytimes/covid-19-data/">
                NY Times Historical Data
                </a>
              
              </p>
              <p>Last Updated {{ last_update }}
            </div>
          </div>
        <table class="table table">
          <tr>
            <th>State</th>
            <th>Population</th>
            <th>Cases</th>
            <th>Deaths</th>
            <th>Death Rate</th>
            <th>Cases per 100k</th>
            <th>Deaths per 100K</th>
          </tr>

        {% for state_data in ALL_STATE_DATA%}
                  <tr> 
                    {% for key, value in state_data.items() %}
                        
                          
                        
                        <td class="mx-3">{{value}}</td>
                      
                        
                    {% endfor %}
                  </tr>


        {% endfor %}

    </div>

</body>
</html>